* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1770px;
}
