* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

/* Header */

.header {
  height: 154px;
}
.header-container {
  display: block;
  align-items: center;
  height: 100%;
  margin-top: 30px;
}

.header-top {
  height: 54px;
  display: flex;
  align-items: center;
}

.header-left {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.number-block {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.main-number {
  margin-right: 5px;
  margin-bottom: 5px;
}

.logo-img {
  margin-right: 30px;
}

.header-bottom {
display: flex;
padding-top: 30px;
padding-left: 45px;
padding-right: 65px;
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 743px;
}
.nav-item:not(:last-child) {
  margin-right: 45px;
  margin-bottom: 10px;
}

.link-btn {
  display: flex;
  flex-wrap: wrap;
  max-width: 426px;
}

.link-descr:not(:last-child) {
  margin-bottom: 10px;
  margin-right: 80px;
}

/* Special */

.spec-container {
  padding-top: 70px;
}
.section-spec-gen {
  display: flex;
  width: 100%;
}

.section-heading-spec {
  margin-top: 0;
  padding-left: 40px;
  margin-bottom: 20px;
}

.section-spec-left {
  flex-direction: column;
  margin-right: 23px;
}

.section-spec-item-one {
  background-image: url(/weblayout/06_layout-flexbox/img/maldivy.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-width: 573px;
  min-height: 258px;
  margin-bottom: 23px;
}

.section-spec-item-two {
  background-image: url(/weblayout/06_layout-flexbox/img/hot-tour.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-width: 573px;
  min-height: 259px;
}

.section-spec-item-three {
background-image: url(/weblayout/06_layout-flexbox/img/lux.jpg);
background-size: auto 100%;
background-repeat: no-repeat;
min-width: 573px;
min-height: 540px;
}

.section-spec-heading {
  padding-left: 40px;
  padding-top: 40px;
  margin: 0;
  color: #ffff;
  size: 40px;
  line-height: 40px;
}

.section-spec-head {
  padding-left: 40px;
  padding-top: 211px;
  margin: 0;
  color: #ffff;
  size: 60px;
}

.section-spec-descr {
  padding-top: 15px;
  padding-left: 40px;
  margin: 0;
  color: #ffff;
  size: 20px;
}

.section-spec-more-block {
  margin: 0;
  padding-left: 40px;
  padding-top: 47px;
}

.section-spec-more {
  color: #FFCC66;
}

/* About */

.about-container {
  padding-top: 69px;
}

.about-content {
  max-width: 888px;
}

.section-heading-about {
  margin-top: 0;
  padding-left: 40px;
  margin-bottom: 11px;
}

.section-about-text {
  margin: 0;
}

/* Services */

.serv-container {
  padding-top: 70px;
}

.section-heading-serv {
  margin-top: 0;
  padding-left: 40px;
  margin-bottom: 20px;
}
.section-serv-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -23px;
}

.section-serv-item {
  width: 573px;
  outline: 3px solid red;
  margin-right: 23px;
  margin-bottom: 23px;
  padding-top: 160px;
}

.serv-img-one{
  background-image: url(/weblayout/06_layout-flexbox/img/exlusive.jpg);
  background-repeat: no-repeat;
}

.serv-img-two{
  background-image: url(/weblayout/06_layout-flexbox/img/arenda.jpg);
  background-repeat: no-repeat;
}

.serv-img-three{
  background-image: url(/weblayout/06_layout-flexbox/img/relax.jpg);
  background-repeat: no-repeat;
}

.serv-img-four{
  background-image: url(/weblayout/06_layout-flexbox/img/secured-parking.jpg);
  background-repeat: no-repeat;
}

.section-serv-head {
  padding-left: 45px;
}
.section-serv-descr {
  padding-left: 45px;
}

/* Edge */

.edge-container {
  padding-top: 70px;
}

.section-heading-edge {
  margin-top: 0;
  padding-left: 40px;
  margin-bottom: 30px;
}

.section-edge-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -23px;
}

.section-edge-item {
  min-width: 275px;
  outline: 3px solid red;
  margin-right: 23px;
  margin-bottom: 23px
}

.edge-img1 {
  background-image: url(/weblayout/06_layout-flexbox/img/bathtub.svg);
  background-repeat: no-repeat;
}

.edge-img2 {
  background-image: url(/weblayout/06_layout-flexbox/img/hanger.svg);
  background-repeat: no-repeat;
}

.edge-img3 {
  background-image: url(/weblayout/06_layout-flexbox/img/heating.svg);
  background-repeat: no-repeat;
}

.edge-img4 {
  background-image: url(/weblayout/06_layout-flexbox/img/hotel-key.svg);
  background-repeat: no-repeat;
}

.edge-img5 {
  background-image: url(/weblayout/06_layout-flexbox/img/parking.svg);
  background-repeat: no-repeat;
}

.edge-img6 {
  background-image: url(/weblayout/06_layout-flexbox/img/reception.svg);
  background-repeat: no-repeat;
}

.edge-img7 {
  background-image: url(/weblayout/06_layout-flexbox/img/security-box.svg);
  background-repeat: no-repeat;
}

.edge-img8 {
  background-image: url(/weblayout/06_layout-flexbox/img/swimming-pool.svg);
  background-repeat: no-repeat;
}

.section-edge-descr {
  padding-top: 160px;
  padding-left: 45px;
  max-width: 233px;
  margin: 0;
  padding-bottom: 41px;
}

.edge-img-pos {
  background-position: 45px 40px;
}

/* Place */

.place-container {
  padding-top: 70px;
}

.section-heading-place {
  margin-top: 0;
  padding-left: 40px;
  margin-bottom: 30px;
}

.section-place-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -23px;
}

.section-place-item {
  max-width: 374px;
  margin-right: 23px;
  margin-bottom: 23px;
}

.section-place-price {
  padding-left: 45px;
  margin-right: 44px;
}

.section-place-info {
  padding-top: 36px;
}

.price-star-position {
  align-items: center;
  display: flex;
}

.section-place-headitem {
  padding-left: 45px;
  margin-top: 0;
  padding-top: 16px;
}

.section-place-geo {
  padding-left: 45px;
  margin-top: 0;
  padding-top: 16px;
}

.place-btn-numbers {
  padding-left: 45px;
  margin-top: 0;
  padding-top: 20px;
}

.section-place-item-all {
  background-image: url(/weblayout/06_layout-flexbox/img/all-var.jpg);
  background-repeat: no-repeat;
  min-width: 350px;
  background-size: auto 100%;
}

.section-place-allvar {
  color: #ffff;
}

.section-place-allvar-pos {
  padding-top: 373px;
  padding-left: 45px;
}
