* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

/* Header */

.header {
  height: 154px;
}
.header-container {
  display: block;
  align-items: center;
  height: 100%;
  margin-top: 30px;
}

.header-top {
  height: 54px;
  display: flex;
  align-items: center;
}

.header-left {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.logo-img {
  margin-right: 30px;
}

.header-bottom {
display: flex;
padding-top: 30px;
padding-left: 45px;
padding-right: 65px;
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 45px;
}

.link-btn a:not(:last-child) {
  margin-right: 80px;
}

/* Special */

.spec-container {
  padding-top: 70px;
}
.section-spec-gen {
  display: flex;
  align-content: space-between;
  width: 100%;
}

.section-heading-spec {
  margin-top: 0;
  padding-left: 40px;
  margin-bottom: 20px;
}



.section-spec-item-one {
  background-image: url(/weblayout/06_layout-flexbox/img/maldivy.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.section-spec-item-two {
  background-image: url(/weblayout/06_layout-flexbox/img/hot-tour.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: inline-block;
}

.section-spec-item-three {
background-image: url(/weblayout/06_layout-flexbox/img/lux.jpg);
background-size: auto 100%;
background-repeat: no-repeat;
}

/* About */

.about-container {
  padding-top: 69px;
}

.about-content {
  max-width: 888px;
}

.section-heading-about {
  margin-top: 0;
  padding-left: 40px;
  margin-bottom: 11px;
}

.section-about-text {
  margin: 0;
}

.serv-container {
  padding-top: 70px;
}

.section-heading-serv {
  margin-top: 0;
  padding-left: 40px;
  margin-bottom: 20px;
}
.section-about-list {
  display: flex;
}

.section-about-item {
  flex: 1 0 50%;
  outline: 3px solid red;
}

.section-about-item:not(:last-child) {
  margin-right: 23px;
}

.section-about-head {
  padding-left: 45px;
}
.section-about-descr {
  padding-left: 45px;
}

/* Edge */

.edge-container {
  padding-top: 70px;
}

.section-heading-edge {
  margin-top: 0;
  padding-left: 40px;
  margin-bottom: 30px;
}

.section-edge-list {
  display: flex;
}

.section-edge-item {
  background-image: url(/weblayout/06_layout-flexbox/img/bathtub.svg);
  background-repeat: no-repeat;
  flex: 1 1 25%;
}

.section-edge-item:not(:last-child) {
  margin-right: 23px;
  margin-bottom: 23px
}

.section-edge-descr {
  padding-top: 10px;
}

/* Place */

.place-container {
  padding-top: 70px;
}

.section-heading-place {
  margin-top: 0;
  padding-left: 40px;
  margin-bottom: 30px;
}

.section-place-list {
  display: flex;
}

.section-place-item {
  flex: 1 1 33.33%;
}

.section-place-item:not(:last-child) {
  margin-right: 23px;
  margin-bottom: 23px;
}
