@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-light.woff2') format('woff2'),
    url('../fonts/roboto-light.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold.woff2') format('woff2'),
    url('../fonts/roboto-bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-medium.woff2') format('woff2'),
    url('../fonts/roboto-medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --color-text-white : #FFFFFF;
}



/* HEADER */

.header__container {
  display: flex;
  align-items: center;
  min-height: 80px;
  background-color: #3F2AFF;
}

.header__burger {
  position: relative;
  margin-left: auto;
  border: none;
  width: 21px;
  height: 17px;
  background-color: transparent;
  cursor: pointer;
}

.header__burger::before,
.header__burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  position: absolute;
  left: 0;
  top: 7px;
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
}

.header__nav {
  display: none;
}

/* Hero */

.hero__container {
  padding-top: 50px;
  padding-bottom: 50px;
  background: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
}

.hero__title {
  margin: 0 0 15px 0;
  max-width: 230px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-text-white);
}

.hero__desc {
  margin: 0 0 50px 0;
  max-width: 268px;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  color: var(--color-text-white);
}

.hero__button {
  padding: 21px 54px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: var(--color-text-white);
  background-color: #3F2AFF;
  cursor: pointer;
}

/* Edge */

.edge__container {
  padding-top: 50px;
  padding-bottom: 56px;
  background-color: #E5E5E5;
}

.edge__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #2E2B44;
}

.edge__desc {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #666666;
}

.edge__item {
  display: flex;
}

.edge__item:not(:last-child) {
  margin-bottom: 30px;
}

.edge__item-desc {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #666666;
}

/* Teachers */

.teachers__container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2E2B44;
}

.teachers__title {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-text-white);
}

.teachers__item:not(:last-child) {
  margin-bottom: 30px;
}

.teachers__img {
  margin-bottom: 30px;
}

.teachers__name {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: var(--color-text-white);
}

.teachers__about {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #85859B;
}

/* Courses */

.courses__container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E5E5E5;
}

.courses__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 7000;
  line-height: 1;
  color: #2E2B44;
}

.courses__content {
  border-radius: 20px;
  background-color: #EDF0F9;
}


.courses__item:not(:last-child) {
  margin-bottom: 30px;
}

.courses__info {
  padding: 30px 31px 29px 30px;
}

.courses__name {
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #2E2B44;
  margin-bottom: 15px;
}

.courses__desc {
  margin-top: 0;
  margin-bottom: 88px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #666666;
}

.courses__button {
  padding: 21px 56px;
  border: none;
  border-radius: 20px;
  background-color: #3F2AFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: var(--color-text-white);
}

/* Footer */

.social__container {
  background-color: #2E2B44;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}

.social__item:not(:last-child) {
  margin-right: 35px;
}

.facebook {
  background-image: url(../img/fb.svg);
  width: 24px;
  height: 24px;
}

.twitter {
  background-image: url(../img/tw.svg);
  width: 24px;
  height: 24px;
}

.instagram {
  background-image: url(../img/inst.svg);
  width: 24px;
  height: 24px;
}

.youtube {
  background-image: url(../img/yt.svg);
  width: 24px;
  height: 24px;
}

.textname__downname {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  color: #333333;
}

@media (min-width: 576px) {

  .container {
    padding-left: 33px;
    padding-right: 33px;
  }

  .header__container {
    display: block;
    min-height: 133px;
    padding-top: 30px;
  }

  .header__logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
  }

  .header__logo {
    width: 94px;
    height: 21px;

  }

  .header__burger {
    display: none;
  }

  .header__nav {
    display: block;
  }

  .header__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .header__desc {
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    color: var(--color-text-white);
  }

  /* Hero */

  .hero__container {
    padding-top: 77px;
    padding-bottom: 175px;
  }

  .hero__title {
    margin-bottom: 30px;
    max-width: 385px;
    font-size: 50px;
  }

  .hero__desc {
    margin-bottom: 70px;
    max-width: 300px;
    font-size: 18px;
    line-height: 27px;
  }

  .hero__button {
    padding: 24px 76px;
    font-size: 18px;
    line-height: 21px;
  }

  /* Edge */

  .edge__background {
    background-image: url(../img/edge-576.png);
    background-repeat: no-repeat;
    background-position: left top;
  }

  .edge__content {
    padding-left: 40%;
  }

  .edge__title {
    font-size: 40px;
    line-height: 1;
  }

  .edge__list {
    display: flex;
  }

  .edge__item {
    display: block;
  }

  .edge__item:not(:last-child) {
    margin-bottom: 0;
  }

  .edge__item-desc {
    margin-left: 0;
  }

  .edge__img {
    margin-bottom: 15px;
  }

  /* Teachers */

  .teachers__title {
    font-size: 40px;
    line-height: 1;
  }

  /* Courses */

  .courses__container {
    padding-bottom: 80px;
  }

  .courses__item {
    display: flex;
  }

  .courses__item:not(:last-child) {
    margin-bottom: 0;
  }

  .courses__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }

  .courses__button {
    padding: 21px 48px;
  }

}

@media (min-width: 768px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
  }

  .header__container {
    display: flex;
    padding-top: 0;
    min-height: 80px;
  }

  .header__logo-container {
    margin-bottom: 0;
  }

  .header__nav {
    margin-left: auto;
  }

  .header__item:not(:last-child) {
    margin-right: 56px;
  }

  /* Hero */

  .hero__container {
    padding-top: 130px;
    padding-bottom: 135px;
  }

  .hero__background {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-position: right center;
  }

  /* Edge */

  .edge__background {
    background-image: url(../img/edge-768.png);
    background-position: left center;
  }

  /* Courses */

  .courses__name {
    line-height: 27px;
  }

  .courses__button {
    padding: 21px 56px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-left: 165px;
    padding-right: 165px;
  }

  .hero__background {
    background-image: url(../img/hero-desktop.png);
  }

  .hero__content {
    padding: 130px 0;
  }

  .hero__title {
    font-size: 60px;
  }

  .hero__desc {
    max-width: 410px;
  }

  /* Edge */

  .edge__background {
    background-image: url(../img/edge-1440.png);
  }

  .edge__content {
    padding-left: 20%;
    padding-right: 33%;
  }

  .edge__title {
    padding-right: 30%;
  }

  .edge__item {
    display: flex;
    align-items: center;
  }

  .edge__img {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
